@tailwind base;
@tailwind components;
@tailwind utilities;


input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

nav > a.active{
  @apply text-black/50
}

/* Butun sahifa uchun scrollni o‘zgartirish */
::-webkit-scrollbar {
  width: 2px; /* Scroll yo‘li kengligi */
  height: 2px;
}

::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollning harakatlanadigan qismi */
  border-radius: 10px; /* Burchaklarni yumaloqlash */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Hover holatida rang */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Orqa fon */
}
